.content {
  min-height: 100dvh;
  width: 100%;
}
.title{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  align-items: center;
  margin: auto;
  font-size: calc(1.1rem + 1vw);
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
  line-height: 1.2;
}
.loadingIndicator {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.errorMessage {
  display: flex;
  justify-content: center;
  color: darkred;
  margin: 50px 0;
  font-weight: 700;
  font-size: 18px;
}

.cardBlock {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
  padding: 30px;
  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);

  }
  @media (max-width: 745px) {
    grid-template-columns: repeat(1, 1fr);

  }



}
